.row{
    margin: 0 auto;
    border: 1px solid;
    position: relative;
    display: flex;
}

.container{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid;
    display: flex;
}
.left{
    width: 33.33%;
    height: 100%;
    background-color: grey;
    overflow-y : scroll;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: grey;
}
::-webkit-scrollbar-thumb{
    background: forestgreen;
    height: 5px;
    border-radius: 5px;
}
.left ul{
    list-style: none;
    padding-left: 5px;
}
.left ul li{
    border-bottom: 1px solid white;
    color: white;
    height: 150px;
    line-height: 150px;
}
.mid{
    width: 33.33%;
    height: 100%;
    border: 1px solid;
}
.right{
    width: 33.33%;
    height: 100%;
    border: 1px solid;
}

.icon{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
