<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>

<body>
<div>
    <a href="/customers/create">Create new customer</a>

</div>
<div>
    <a href="/province">Go to province List</a>

</div>
<h1>Customers</h1>
<div  id="form">
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/customers/edit/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/customers/delete/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>